
.categoryName {
    max-width: calc(100% - 170px);
    text-align: left;
    background-color: rgba(255,255,255,.1);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
}

.editButton, .addColumnButton, .deleteCategoryButton, .moveCategoryButton, .deleteRowButton {
    display: inline;
}

.categoryHeaderEdge .categoryName {
    max-width: calc(100% - 120px);
}

.categoryName:focus {
    background: gray !important;
    z-index: 9999;
	max-width: calc(100% - 20px);
	color: black;
}

.categoryHeaderEdge #leftButton {
	right: 50px;
}

.navEditMenu {
    right: 20px;
}
.normalNavbarContent {
    opacity: 0.5;
    right: 1000px;
}

.tableRow:hover {
    background-color: #b53d3d;
    background-image: url("delete.png") !important;
    background-size: 32px !important;
    background-position-x: 26px;
    cursor: pointer;
}