
.categoryName {
    max-width: calc(100% - 170px);
    text-align: left;
    background-color: rgba(255,255,255,.1);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
}
.categoryName:focus {
    background: gray !important;
    position: absolute;
    z-index: 9999;
	max-width: calc(100% - 20px);
	color: black;
}

.editButton, .addColumnButton, .deleteCategoryButton, .moveCategoryButton {
    display: inline;
}